extends layout

block content
  h1= direction
  p La dirección de la base de datos es: #{direction}
  p= msg
  form(action="/configuracion" method='POST' name='formulario')
    label(for="ip") Ip
    input(type="text" id="ip" name='ip')
    input(type="submit", value="registrar")
  form(action="/test" method='POST' name='formulario')
    input(type="submit", value="probar")