extends layout

block content
  .espacio
  .contenido.col-sm-8.col-sm-offset-2
    if data != null
      .alert.alert-success
        =title
      form(action="/" method='POST' name='formulario' class='formIngreso')
        .form-group
          label(name="usuario") Seleccionar Usuario:
          select(name="usuario" class="form-control")
            -each dt in data
              option(value='#{dt}')= dt
        a(href="createUser") crear usuario
        input(type="submit", value="Entrar", class="btn btn-success")
    else
      .alert.alert-danger
        =title
