extends layout

block content
  h1= title
  p Welcome to #{title}
  form(action="/" method='POST' name='formulario')
    select(name="usuario")
      -each dt in data
        option(value='#{dt}')= dt
    a(href="createUser") crear usuario
    input(type="submit", value="Entrar")
