extends layout

block content
  h1= title
  p Welcome to #{title}
  form(action="/" method='POST' name='formulario')
    label(for="usuario") Usuario
    input(type="text" id="usuario" name='usuario')
    label(for="cuenta") Cuenta
    input(type="text" id="cuenta" name='cuenta')
    label(for="monto") Monto
    input(type="text" id="monto" name='monto')
    input(type="submit", value="registrar")
