body
  padding: 50px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
a
  color: #00B7FF

.espacio
  margin: 15px;

.contenido
  display: block

.contenido a
  display: block

.contenido .btn
  margin-bottom: 10px
  margin-top: 10px